.landing img {
  width: 100%;
}

.landing h1 {
  position: relative;
  bottom: -150px;
}

.landing {
  color: white;
  text-shadow: 2px;
}

.hero-area {
  height: 90vh;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  background-image: url("/img/kids-wall.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 }
